<header>
  <nav class="navbar navbar-main navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div id="navbar" class="navbar-collapse">
        <a href="/" class="navbar-brand">My Social Website</a>
        <a *ngIf="auth.loggedIn() && auth.user" class="navbar-brand" [routerLink]="['/my-profile', auth.user._id]"
           routerLinkActive="active">My
          Profile</a>
        <a *ngIf="auth.loggedIn() && auth.user">
          <form class="navbar-form margin-none navbar-left hidden-xs ">
            <!-- Search -->
            <div class="search-1">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <ng2-completer name="fsfd" [clearUnselected]="true" #value=ngModel
                               [placeholder]="'Find a user'"
                               [pause]="1000"
                               [maxChars]="52"
                               [autoMatch]="true"
                               [inputName]="'searchFriends'"
                               [inputClass]="'form-control'"
                               [clearSelected]="true"
                               [(ngModel)]="searchUser" (selected)="sendData($event)"
                               [datasource]="dataUser"
                               [autoMatch]="true"
                               [minSearchLength]="1"></ng2-completer>
              </div>
            </div>
          </form>
        </a>
        <div class="nav navbar-nav navbar-right">
          <div class="form-inline">
            <form *ngIf="!auth.loggedIn()" [formGroup]="loginUser"
                  class="navbar-form margin-none navbar-left hidden-xs ">
              <md-input-container>
                <input mdInput type="text" placeholder="your email" formControlName="email">
              </md-input-container>
              <md-input-container><input mdInput type="password"
                                         formControlName="password"
                                         placeholder="your password"></md-input-container>

              <button (click)="loginAccount()">Login</button>
            </form>
          </div>
        </div>
        <ul *ngIf="auth.loggedIn() && auth.user" class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <img [src]="" width="35" class="img-circle"> {{auth.user.username}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a routerLink='/profil' routerLinkActive="active">Edit Profile</a></li>

              <li><a [routerLink]="['/app-follow-user']" routerLinkActive="active">Follow Users</a></li>

              <li><a (click)="logOut()">Logout</a></li>
            </ul>
          </li>
        </ul>
        <ul class="countFriendRequest nav navbar-nav navbar-right" *ngIf="auth.loggedIn() && auth.countFriendRequest">
          <li><a href="" [routerLink]="['/app-follow-user','requested']" routerLinkActive="active"><span
            class="fa fa-user-circle blink_me"></span>{{auth.countFriendRequest}}</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Contenu  -->
<article>
  <div class="container primaryContent">
    <router-outlet></router-outlet>
    <!--<app-sidebar>CONTETN</app-sidebar>-->
  </div>
  <ng2-toasty></ng2-toasty>
</article>
