<div *ngIf="appComponent.loggedIn()" class="sidebar-block">
  <ul class="sidebar-feed sidebar-main">
    <li class="media">
      <div class="media-left">
                <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
      </div>
      <div class="media-body">
        <a href="" class="text-white">Adrian</a> just logged in
        <span class="time">2 min ago</span>
      </div>
      <div class="media-right">
        <span class="news-item-success"><i class="fa fa-circle"></i></span>
      </div>
    </li>
    <li class="media">

      <div class="media-left">
                <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
      </div>
      <div class="media-body">
        <a href="" class="text-white">Adrian</a> just added <a href="" class="text-white">mosaicpro</a> as their office
        <span class="time">2 min ago</span>
      </div>
      <div class="media-right">
        <span class="news-item-success"><i class="fa fa-circle"></i></span>
      </div>
    </li>
    <li class="media">
      <div class="media-left">
                <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
      </div>
      <div class="media-body">
        <a href="" class="text-white">Adrian</a> just logged in
        <span class="time">2 min ago</span>
      </div>
    </li>
    <li class="media">
      <div class="media-left">
                <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
      </div>
      <div class="media-body">
        <a href="" class="text-white">Adrian</a> just logged in
        <span class="time">2 min ago</span>
      </div>
    </li>
    <li class="media">
      <div class="media-left">
                <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
      </div>
      <div class="media-body">
        <a href="" class="text-white">Adrian</a> just logged in
        <span class="time">2 min ago</span>
      </div>
    </li>
  </ul>
</div>
