<ng-template #loading>
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</ng-template>

<ng-template #noUser>
  <h5 class="card-header text-center">Cannot find Users :(</h5>
</ng-template>

<div #wasteMasonry class="row userProfile" data-toggle="isotope" style="position: relative; ">
  <div class="row" *ngIf="wasters.length;else noUser">
    <div class="col-md-6 col-lg-4 item" *ngFor="let waste of wasters">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="" [routerLink]="['/my-profile', waste._id]" routerLinkActive="active">
            <div class="media">
              <div class="pull-left" ng-click="click()">
                <img [src]="waste.image" alt="people"
                     class="media-object img-circle"
                     style="width:150px;height: 150px;">
              </div>
              <div class="media-body">
                <h4 class="media-heading margin-v-5"><a href="#">{{waste.username}}</a></h4>
                <span>{{waste.statut}}</span>
                <p>{{waste.email}}</p>
                <div class="profile-icons">
                  <span><i class="fa fa-users"></i> {{waste.following.length}}</span>
                  <!--<span><i class="fa fa-photo"></i> none</span>-->
                </div>
                <h3 *ngIf="waste.isConnected" class="blink_me">Online</h3>
              </div>
            </div>
          </a>
        </div>
        <div class="panel-body">
          <p class="common-friends">Common Friends</p>
          <div class="user-friend-list">
            <app-list-of-friend [user]="waste"></app-list-of-friend>
          </div>
        </div>
        <div *ngIf="auth.user">
          <app-follow (follower)='waste.following=$event'
                      [waste]="waste"
                      [user]="auth.user"></app-follow>
        </div>
      </div>
    </div>
  </div>
</div>
