<div class="row userProfile" data-toggle="isotope" style="position: relative; height: 768px; ">
  <div class="col-md-6 col-lg-4 item" *ngFor="let waste of wasters"
       [hidden]="user._id == waste._id">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="media">
          <div class="pull-left" ng-click="click()">
            <img [src]="waste.image || 'assets/images/default-avatar.jpg'" alt="people" class="media-object img-circle"
                 style="width:150px;height: 150px;">
          </div>
          <div class="media-body">
            <h4 class="media-heading margin-v-5"><a href="#">{{waste.username}}</a></h4>
            <span>{{waste.email}}</span>
            <div class="profile-icons">
              <span><i class="fa fa-users"></i> none</span>
              <span><i class="fa fa-photo"></i> none</span>
            </div>
            <h3 *ngIf="waste.isConnected" class="blink_me">Online</h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p class="common-friends">Common Friends</p>
        <div class="user-friend-list">
          <!--<a href="#" ng-repeat="images in image">-->
          <!--<img ng-src="{{images.image}}" alt="people" class="img-circle" style="width:50px; height:50px">-->
          <!--</a>-->
        </div>
      </div>
      <div class="panel-footer" [ngSwitch]="checkIsFollowing(waste._id)">
        <a class="btn btn-default btn-sm" *ngSwitchDefault (click)="follow(waste._id)">Follow <i
          class="fa fa-share"></i></a>
        <a class="btn btn-default btn-sm" *ngSwitchCase="'pending'">en attente de confirmation<i
          class="fa fa-share"></i></a>
        <a class="btn btn-default btn-sm"
           *ngSwitchCase="'requested'" (click)="followUserOk(waste._id)">Accepté la demande d'ajout<i
          class="fa fa-share"></i></a>
        <a class="btn btn-danger btn-sm" (click)="unfollow(waste._id)"
           *ngSwitchCase="'accepted'">Unfollow <i class="fa fa-low-vision"></i></a>
      </div>
    </div>
  </div>
</div>
