<div class="row">
  <div class="waste-section">
    <!--<h3><a ng-if="incomingWastes.length > 0" ng-click="setNewWastes()">There are {{difference}} new posts</a></h3>-->
    <div class="col-xs-12 col-md-6 col-lg-4 item" *ngFor="let waste of wastes">
      <div class="timeline-block">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <input type="hidden" [value]="waste._id">
                  <img [src]="waste.image" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted"><i
                  class="icon-reply-all-fill fa fa-2x "></i></a>

                <a href="">{{waste.user}}</a>
                <p>{{waste.userType}} post</p>
                <span>on {{waste.date | date: 'MM/dd/yyyy hh:mm'}}</span>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <p>{{waste.content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
