<div *ngIf="wastes;else error" class="row">
  <div #wasteMasonry class="waste-section" id="wasteComponent" infinite-scroll
       [infiniteScrollDistance]="3"
       [scrollWindow]="true"
       [infiniteScrollUpDistance]="1.5"
       [infiniteScrollThrottle]="500"
       (scrolled)="onScrollDown()"
       (scrolledUp)="onScrollUp()">
    <!--<h3><a ng-if="incomingWastes.length > 0" ng-click="setNewWastes()">There are {{difference}} new posts</a></h3>-->
    <div class="col-xs-12 col-md-6 col-lg-4 item" *ngFor="let waste of wastes">
      <div class="timeline-block">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a [routerLink]="['/my-profile',waste.userId]">
                  <input type="hidden" [value]="waste._id">
                  <img [src]="waste.image" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted"><i
                  class="icon-reply-all-fill fa fa-2x "></i></a>
                <a (click)="deleteWasteOrPost(waste._id)" *ngIf="auth.user._id === waste.userId"
                   class="fa fa-close pull-right"></a>
                <a [routerLink]="['/my-profile',waste.userId]">{{waste.username}}</a>
                <p>{{waste.userType}} post</p>
                <span>on {{waste.date | date: 'MM/dd/yyyy hh:mm'}}</span>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div *ngIf="waste.content.author">Publish by :{{waste.content.author}}</div>
            <h5 *ngIf="waste.content.title"><a [href]="waste.content._url" target="_blank">{{waste.content.title}}</a>
            </h5>
            <div *ngIf="waste.content.image && waste.content.source !== 'YouTube'"><img [src]="waste.content.image"
                                                                                        alt=""></div>
            <div *ngIf="waste.content.source ==='YouTube'">
              <iframe width="100%" height="315" [src]="waste.content._url" frameborder="0" allowfullscreen></iframe>
            </div>
            <p *ngIf="!waste.content.description">{{waste.content.content}}</p>
            <p *ngIf="waste.content.description">{{waste.content.description}}</p>
          </div>
          <div
            class="view-all-comments">
            <div class="likes">
              <a *ngIf="waste.youLikeThis" (click)="likeThisPostOrComment(waste._id)"><i
                class="fa fa-thumbs-down">Dislike</i></a>
              <a *ngIf="!waste.youLikeThis" (click)="likeThisPostOrComment(waste._id)"><i
                class="fa fa-thumbs-up">Like</i></a>
              <span *ngIf="waste.likes.length" class="number-of-like">
                {{waste.persoLikeSentence?.content}}
              </span>
            </div>
            <div *ngIf="waste.commentary.length"
                 (click)="waste.isOpeningCommentary = !waste.isOpeningCommentary; dataCommentaryWanted(waste, userId)">
              <a *ngIf="waste.commentary">
                <i class="fa fa-comments-o"></i> View all
              </a>
              <span *ngIf="waste.commentary">{{waste.commentary.length}} comment</span>

            </div>
            <ul class="comments">
              <div *ngIf="waste.isOpeningCommentary">
                <li *ngFor="let comment of waste.commentary" class="media">
                  <div class="media-left">
                    <a href="">
                      <img [src]="comment.image" class="media-object">
                    </a>
                  </div>
                  <div class="media-body">
                    <a (click)="deleteWasteOrPost(waste._id,comment._id)" *ngIf="comment.userId == auth.user._id"
                       class="fa fa-close pull-right"></a>
                    <div class="pull-right dropdown" data-show-hover="li" style="display: none;">
                      <a href="#" data-toggle="dropdown" class="toggle-button">
                        <i class="fa fa-pencil"></i>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Delete</a></li>
                      </ul>
                    </div>
                    <a href="" class="comment-author pull-left">{{comment.username}}</a>
                    <span>{{comment.data}}</span>
                    <div class="comment-date">{{comment.date}}</div>
                  </div>
                </li>
              </div>

              <li class="comment-form">
                <form action="" (ngSubmit)="sendWasteComments(waste._id,value)">
                  <div class="input-group">
                             <span class="input-group-btn">
                   <a href="" class="btn btn-default"><i class="fa fa-photo"></i></a>
                </span>
                    <input name="newComment" #value value="" placeholder="leave a comment" type="text"
                           class="form-control">
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #error>
  <p>No post</p>
</ng-template>
