.profile-icons {
	font-size: 14px;
	font-weight: bold;
	color: #efefef;

	span {
		display: inline-block;
		color: #797979;
		margin: 0 5px 5px;
		i {
			font-size: 16px;
			color: @icon-gray;
		}
	}
}