/* Base Elements */
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700);

$body-bg: #f4f4f4;
$line-height-base: 1.57142857;
$link-color: #1d7cf4;
$link-hover-decoration: none;

$brand-success: #29b35b; //
$brand-danger: #b61b17;

$font-family-base: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 600;

$alert-info-border: #31708f;
$alert-success-border: darken($brand-success, 12%);
$alert-success-text: #fff;
$alert-success-bg: $brand-success;
$alert-danger-border: #b61b17;
$alert-danger-text: #b61b17;
$alert-danger-bg: #ffcdd2;

$navbar-height: 56px;
$navbar-default-bg: #fff;
$navbar-default-border: #e0e0e0;
$navbar-default-color: #757575;
$navbar-default-link-color: #262626;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: #262626;

$panel-heading-padding: 20px 30px;
$panel-body-padding: 30px;

@import 'sidebar';
////

html { ////
  height: 100%;
  box-sizing: border-box;

}

body { //
  margin-top: 80px;
  font-family: $font-family-base;
  position: relative;
  padding-bottom: 25rem;
  min-height: 100%;
}

img {
  vertical-align: middle;
}

a {
  cursor: pointer;
}

article {
  min-height: 80%;
}

.waste-section img {
  width: 100px;
  height: 100px;
}

.newUserSignIn {
  margin-top: 50px
}

footer {
  background: #ffffff url("./assets/images/footer.png") no-repeat right top;
  height: 20%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}

.footer-below {
  padding: 25px 0;
  background-color: #233140;
}

textarea {
  resize: none;
}

.btn {
  font-weight: 600;
  border-radius: 3px;
  &:focus {
    outline: 0 !important;
  }
}

.btn-default {
  border-color: #ccc;
  background: #f5f5f5 linear-gradient(to bottom, #fff, #f5f5f5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2);
  &:active {
    background: darken(#f5f5f5, 6%) linear-gradient(to bottom, darken(#fff, 6%), darken(#f5f5f5, 6%));
  }
}

.btn-success {
  border-color: #208a46;
  background: #29b35b linear-gradient(to bottom, #2ec866, #29b35b);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(32, 138, 70, 0.3);
  &:active {
    background: darken(#29b35b, 6%) linear-gradient(to bottom, darken(#2ec866, 6%), darken(#29b35b, 6%));
  }
}

.btn-danger {
  border-color: #8c1512;
  background: #b61b17 linear-gradient(to bottom, #cc1e1a, #b61b17);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(140, 21, 18, 0.3);
  &:active {
    background: darken(#b61b17, 6%) linear-gradient(to bottom, darken(#cc1e1a, 6%), darken(#b61b17, 6%));
  }
}

.form-control { ///
  height: auto;
  padding: 8px 12px;
  border: 2px solid #ebebeb;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(150, 160, 175, 0.1), inset 0 1px 15px rgba(150, 160, 175, 0.05);
}

.form-group > label {
  text-transform: uppercase;
  font-size: 13px;
}

//myprofile

.st-container .st-content-inner {
  padding-top: 15px;
  position: relative;
}

.btn-primary {
  color: #fff;
  background-color: #1c7d74;
  border-color: #1b746c;
}

.cover.profile {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #e2e9e6;
  position: relative;
}

.cover {
  margin-bottom: 20px;

  position: relative;
}

.cover.profile .cover-info .name a {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}

.cover.profile .wrapper .image::after {
  background-image: linear-gradient(transparent, black);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.7;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 2;
}

.cover.profile .wrapper .image {

  position: relative;
  img {
    width: 100%;
  }
}

.cover.profile .wrapper .friends {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  height: 250px;
  list-style: outside none none;
  margin-bottom: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  z-index: 2;
}

.cover.profile .cover-info .cover-nav {
  bottom: 0;
  float: left;
  left: 140px;
  list-style: outside none none;
  margin: 0;
  padding-left: 0;
  position: absolute;
}

.cover.profile .cover-info .cover-nav li {
  border-left: 1px solid transparent;
  border-right: 1px solid #e2e9e6;
}

.cover.profile .cover-info .cover-nav li {
  display: block;
  float: left;
}

//
.panel {
  background-color: #fff;
  box-shadow: none;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.panel-default {
  border-color: #e2e9e6;
}

.timeline-block .panel-heading.title {
  font-size: 18px;
  padding: 10px;
}

.timeline-block .panel-heading {
  background: #26a69a none repeat scroll 0 0;
  border-bottom: 0 none;
  color: #fff;
  padding: 0;
}

.panel-heading {
  border-bottom: 1px solid transparent;
  padding: 10px 15px;
}

.cover.profile .cover-info .name {
  bottom: 0;
  display: block;
  left: 155px;
  margin-bottom: 65px;
  position: absolute;
  z-index: 3;
}

.cover.profile .cover-info .avatar {
  bottom: 0;
  display: inline-block;
  left: 30px;
  margin-bottom: 5px;
  position: absolute;
  z-index: 4;
}

.cover.profile .wrapper .friends li a.group {
  color: #efefef;
  font-size: 40px;
  text-align: center;
}

.cover.profile .cover-info .avatar img {
  border: 3px solid #fff;
  border-radius: 50%;
  height: 110px;
  width: 110px;
}

img {
  vertical-align: middle;
}

.cover.profile .cover-info {
  height: 57px;
  position: relative;
}

.timeline-block .panel-heading.title {
  font-size: 18px;
  padding: 10px;
}

.timeline-block .panel-heading {
  background: #26a69a none repeat scroll 0 0;
  border-bottom: 0 none;
  color: #fff;
  padding: 0;
}

.cover.profile .cover-info .cover-nav > li > a {
  color: #bebebe;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 18px 15px;
}

.panel-heading {
  border-bottom: 1px solid transparent;
  padding: 10px 15px;
}

.panel .share-buttons {
  border-top-color: #e2e9e6;
  padding: 0;
}

.panel-footer {
  background-color: #ffffff;
  border-top: 1px solid #e2e9e6;
  padding: 10px 15px;
}

.img-circle {
  border-radius: 50%;
}

ul.icon-list.icon-list-block {
  margin-top: 0;
}

ul.icon-list {
  display: block;
  list-style: outside none none;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  width: 100%;
}

.width-250 {
  width: 250px !important;
}

.widget-user-1 {
  .profile-icons {
    background: #f4f4f4 none repeat scroll 0 0;
    border-bottom: 1px solid #e2e9e6;
    border-top: 1px solid #e2e9e6;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .avatar {
    margin-bottom: 10px;
    padding: 30px 10px 10px;
    img {
      width: 110px;
    }
  }

}

.cover.profile .wrapper .friends li a {
  display: block;
  padding-left: 1px;
  padding-top: 1px;
}

.cover.profile .wrapper .friends li {
  float: left;
  margin: 0;
  width: 33.33%;
}

.userProfile {
  .media-body {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 166px;
  }
}

ul.img-grid {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  li {
    float: left;
    margin: 0;
    width: 20%;
  }
  a {
    display: block;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

ul.icon-list.icon-list-block li:not(:last-of-type) {
  border-bottom: 1px solid #e2e9e6;
}

ul.icon-list.icon-list-block li {
  display: block;
  padding: 8px 10px;
  margin: 0;
}

.panel .share-text {
  box-shadow: none;
  border: none;
  background: #fff;
}

.tab-content {
  padding: 15px;
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.timeline-block .panel-heading .media-body a {
  display: block;
  font-weight: bold;
  color: #fff;
}

.blink_me {
  animation: blinker 1s linear infinite;
  color: #286090
}

@keyframes blinker {
  50% {
    opacity: 0.0;
  }
}

.imageCover {
  overflow: hidden;
}

///
.containerCover { //
  height: 300px;
  align-items: center;
  overflow: hidden;
  display: flex;
}

.avatar-my-profile {
  width: 45%;
  margin-left: 15px;
}

//.principal-navbar{
//  margin-top: 1%;
//}
