<div *ngIf="loggedIn()" class="st-content-inner mainpost">
  <div class="cover profile">
    <div class="wrapper">
      <div class="image">
        <div class="containerCover">
          <img class="imageCover" alt="cover" [src]="user.cover">
        </div>
      </div>
      <div class="friends">
        <app-list-of-friend [user]="user"></app-list-of-friend>
      </div>
    </div>
    <div class="cover-info">
      <div class="avatar">
        <a class="avatarPeople" href="{{user.image}}"> <img class="" alt="people"
                                                            [src]="user.image"></a>
      </div>
      <div class="name"><a href="#">{{user.username}}</a></div>
      <ul class="cover-nav">
        <li class="active"><a href="index.html"><i class="fa fa-fw icon-ship-wheel"></i> Timeline</a></li>
        <li><a ui-sref="myProfile({userId:user._id})"><i class="fa fa-fw icon-user-1"></i> About</a></li>
        <li><a href="users.html"><i class="fa fa-fw fa-users"></i> Friends</a></li>
      </ul>
    </div>
  </div>
  <div data-toggle="isotope" class="timeline row">
    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default share clearfix-xs">
          <div class="panel-heading panel-heading-gray title">
            What´s new
          </div>
          <div class="panel-body">

            <form>
              <md-radio-group [(ngModel)]="typeWaste" name="typeWaste">
                <md-radio-button value="public">
                  Public
                </md-radio-button>
                <md-radio-button value="private">
                  Private
                </md-radio-button>
              </md-radio-group>
              <textarea name="postContent" [(ngModel)]="newWaste" class="form-control"
                        placeholder="Postez votre contenu ici">
                            </textarea>
              <!--Si une seule valeur on aurait put utiliser l'alias #getPost et dans le sendWast-> sendWaste(getPost.value)-->
              <div class="form-group">
                <button (click)="sendWaste()" class="btn btn-default" type="submit">Envoyer
                </button>
              </div>
            </form>

          </div>
          <div class="panel-footer share-buttons">
            <a href="#"><i class="fa fa-map-marker"></i></a>
            <a href="#"><i class="fa fa-photo"></i></a>
            <a href="#"><i class="fa fa-video-camera"></i></a>
            <button href="#"
                    class="btn btn-primary btn-xs pull-right display-none" type="submit">Post
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
    </div>
  </div>
  <app-waste [numberOfWaste]="10"
             [userId]="user._id"
             [onlyOwnPost]="false"
  ></app-waste>

</div>
<div *ngIf="!loggedIn()" class="mainpost">
  <p>Sign in to access to the social website or <a routerLink="/signup" routerLinkActive="active">Signup</a></p>

</div>
