
<div *ngIf="!isLoading; else loading" class="panel-footer" [ngSwitch]="waste.status">
  <a class="btn btn-default btn-sm" *ngSwitchDefault (click)="follow(waste._id)">Follow <i
    class="fa fa-share"></i></a>
  <a class="btn btn-default btn-sm" *ngSwitchCase="'pending'">en attente de confirmation<i
    class="fa fa-share"></i></a>
  <a class="btn btn-default btn-sm"
     *ngSwitchCase="'requested'" (click)="followUserOk(waste._id)">Accepté la demande d'ajout<i
    class="fa fa-share"></i></a>
  <a class="btn btn-danger btn-sm" (click)="unfollow(waste._id)"
     *ngSwitchCase="'accepted'">Unfollow <i class="fa fa-low-vision"></i></a>
</div>


<ng-template #loading>
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>

</ng-template>
